#flickrphotos {
}
.photoset {
  /*background-color: #6c6;*/
  margin: 10px 0;
}
.photosettitle:hover {
  background-color: #eee;
}
.photoset.active {
  background-color: #eee;
}
.photo {
  margin: 5px;
}
#spinner {
}

.hide {
}

.flickr-photoset {
    text-decoration: none;
}

.flickr-photoset-title {
    font-family: "Museo Slab", Georgia, serif;
    font-size: 22px;
    font-weight: normal;
}

.flickr-photoset-info {
    margin-left: 10px;
}

.flickr-link {
    display: block;
    padding: 5px 10px 10px;
}

.photoset .photos {
    margin: 5px 0 0 -5px;
}